/* css */

/* START background image */
.bgImage {
    background: url(https://tnn4.github.io/img/d9c05b19b4b0be8edd51bde7243a8548.jpeg);
 }
 
 @media screen and (min-width: 769px) {
   .bgImage {
     background: url(https://tnn4.github.io/img/anime-dorogi-35633.jpeg);
   }
 }
 
 @media screen and (min-width: 1200px) {
   .bgImage {
     background: url(https://tnn4.github.io/img/d9c05b19b4b0be8edd51bde7243a8548.jpeg);
   }
 }
/* END background image */

/* background color */
.bg-color{
    background-color: peachpuff;
}

/* dark mode */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

/* START button */
.button {
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin:10px
}

.small-btn {
    width: 50px;
    height: 25px;
}

.medium-btn {
    width: 70px;
    height: 30px;
}

.big-btn {
    width: 90px;
    height: 40px;
}

/* END button */